

.ineer-container{
    width: 80%;
    display: flex;
    color: #fff;
    flex-direction:column;
    align-items: center;
    /* overflow-y: auto; */
    
}
.input-section{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-top: 3rem;

    margin-bottom: 3rem;
}
.task-input{
    width: 70%;
    height: 25px;
    border: none;
    border-radius: 21px;
    text-indent: 10px;
}
/* .task-input::placeholder{
    padding-left: 10px;
} */
.task-input:focus{
    border: none;
    outline: none;
}

.item-list{
    width: 100%;
}
.input-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.input-box input{
    width: 100%;
}