



.btn{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 25px;
    border:none;
    border-radius: 21px;
    cursor: pointer;
}
.btn:hover{
    background-color:#f5f5f5
}

.blueBtn{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(43, 47, 100, 0.89),rgba(99, 22, 241, 0.89));
    color: #fff;
    height:25px;
    border:none;
    border-radius: 21px;
    cursor: pointer;
}
.blueBtn:hover{
    background: rgb(23, 21, 100) ;
}